/// Type text
/// @author Zenon Marek Raubuć

@mixin type-text($size, $weight,  $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  @content;
}

/// Make a view and content in terminate frame
/// @author Zenon Marek Raubuć

@mixin wrapper($max-width) {
  max-width: $max-width;
  margin: 0 auto;
  @content;
}
